.footer{
    margin: 0 200px 60px;
    padding-top: 67px;
}


@media screen and (max-width: 1125px) {
    .footer {
     margin: 0 120px 60px;
    }
  }

  @media screen and (max-width: 764px) {
    .footer {
     margin: 0 48px 60px;
    }
  }

  @media screen and (max-width: 450px) {
    .footer {
    padding-top: 48px;
     margin: 0 19px 36px;
    }
  }