.footer{
    margin: 0 auto;
    padding: 67px 200px;
    max-width: 880px;
}


@media screen and (max-width: 1125px) {
    .footer {
     padding: 48px 120px 60px;
    }
  }

  @media screen and (max-width: 764px) {
    .footer {
     padding: 48px 48px 60px;
    }
  }

  @media screen and (max-width: 450px) {
    .footer {
     padding: 48px 36px 36px;
    }
  }